body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(240, 219, 192);
}

h1 {
    text-align: center;
    font-size: 54px;
}

.list  {
    color: rgb(0, 0, 0);
    list-style-type: circle;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 24px;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}